# IGNORE TEMP FILES
.DS_Store
*~

# WINDOWS IMAGE FILE CACHES
Thumbs.db
ehthumbs.db

# FOLDER CONFIG FILE
Desktop.ini

# DEBUG FILES
*.log

# PROJECT SPECIFIC DIRECTORIES
mozilla
obsidian
pulse
session

# PROJECT SPECIFIC FILES
user-dirs.dirs
user-dirs.locale

